* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Eudoxus Sans", sans-serif;
    --black2: #232a37;
    --black3: #232a37;
    --blue: #D0ECF5;
    --light-blue: #eefafe;
    -webkit-font-smoothing: antialiased;
}

/** Hero Section **/

body {
    overflow-x: hidden;
}

.header {
    position: relative;
    display: flex;
    min-height: 840px;
    height: 100vh;
    padding: 140px 3%;
    justify-content: center;
    align-items: center;
    background-color: #D0ECF5;
    background-image: url('https://res.cloudinary.com/alapanbagchi/image/upload/v1660294748/Tisoe/assets/604d8c253d18c756da35bdf0_Header_Course_Update_fl39bv.webp');
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #161c27;
    overflow: hidden;
}

.header .container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}

.header .container .hero_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero_title_wrap {
    position: relative;
}

.display_heading {
    position: relative;
    z-index: 5;
    font-family: 'Eudoxussans Heading', sans-serif;
    color: #161c27;
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.hero_title_wrap img {
    position: absolute;
    left: -10%;
    top: 63%;
    right: auto;
    bottom: -13%;
    max-width: 450px;
    width: 100%;
}

.paragraph_hero {
    max-width: 440px;
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.header .checklist {
    margin-top: 52px;
    margin-bottom: 52px;
    grid-template-columns: 1fr;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.header .checklist .feature_check {
    display: flex;
    align-items: center;
}

.check_circle {
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
}

.header .hero_block_right {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    width: 45%;
    justify-content: flex-start;
    align-items: flex-end;
}

@media screen and (max-width: 479px) {
    .detail_wrapper {
        display: none !important;

    }
}

.detail_wrapper {
    display: flex;
    max-width: 500px;
    margin-top: 72px;
    align-items: center;
}

.paragraph-large {
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.icon_circle {
    display: flex;
    width: 64px;
    height: 64px;
    min-height: 64px;
    min-width: 64px;
    margin-right: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #161c27;
}

@media only screen and (max-width: 991px) {
    .header .hero_block_right {
        display: none;
    }

    .header {
        background-position: 50% 100%;
    }
}

@media screen and (max-width: 767px) {
    .display_heading {
        font-size: 60px;
        line-height: 70px;
    }
}

@media screen and (max-width: 484px) {
    .hero_title_wrap img {
        left: -7%;
        top: 62%;
    }
}

.header .hero_block_right .hero_image_wrapper {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.hero_lightbox {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 40%;
    z-index: 99;
}

.play_button_large {
    z-index: 9;
    display: flex;
    width: 110px;
    height: 110px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

}
.play_button_large:hover{
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}
.header .hero_block_right .hero_image_wrapper img:not(.card_accent, .play_button_large img) {
    position: relative;
    z-index: 5;
    max-height: 90%;
    display: inline-block;
    max-width: 100%;
}


.cta {
    display: flex;
}

.cta button {
    min-height: 56px;
    padding: 0 32px;
    background-color: var(--black2);
    border: 2px solid var(--black2);
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
}
.video{
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100vh;
    z-index: 999999;
    display: flex;
    justify-content: center ;
}
.exit{
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 5%;
}
iframe{
    width: 60%;
    height: 100%;
}
@media screen and (max-width: 991px) {
    iframe{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 991px) {
    .break {
        display: none;
    }
}

.cta button:hover {
    background-color: var(--light-blue);
    color: #000;
    transition: all 0.3s ease-in-out;
}

.slogan {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-top: 72px;
}

.icon {
    display: flex;
    width: 64px;
    height: 64px;
    min-height: 64px;
    min-width: 64px;
    margin-right: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #161c27;
}

.slogan p {
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
}

.hero_svg {
    position: absolute !important;
    width: 250px !important;
    right: 0% !important;
    top: 72% !important;
    height: fit-content !important;
    z-index: 6;
}

.play {
    z-index: 9;
    display: flex;
    width: 110px;
    height: 110px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    position: absolute;
    top: 43%;
    left: 25%;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.play:hover {
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
    .hero_image_wrapper {
        display: none;
    }
}

/**About Us**/

.about_us {
    padding: 172px 3% 100px;
}

.about_us .container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.about_us .container .wrapper {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.background {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    background-color: #d0ecf5;
    background-image: url("https://res.cloudinary.com/alapanbagchi/image/upload/v1660294874/Tisoe/assets/Featue_Background.webp");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.about_us .container .title {
    display: flex;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_us .container .title h3 {
    position: relative;
    z-index: 5;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Eudoxussans Heading', sans-serif;
    color: #161c27;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

/**Courses**/

.courses {
    overflow: hidden;
    padding: 96px 3% 162px;
    background-color: #f5eee5;
}

.teachers {
    overflow: hidden;

    padding: 96px 3% 162px;
    background-color: #F3F6FB;
}

.courses .container,
.teachers .container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.courses .container .title,
.teachers .container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.courses .container .title h3,
.teachers .container .title h3 {
    font-size: 40px;
    line-height: 48px;
}

.courses .container .description,
.teachers .container .description {
    max-width: 440px;
    font-size: 16px;
    line-height: 32px;
}

.slider_wrapper,
.teacher_slider_wrapper {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slide_container {
    z-index: 2;
}

.card_accent {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 10%;
    z-index: 9;
}

.slider_wrapper {
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-size: contain;
}

.courses .slider_wrapper,
.teachers .slider_wrapper {
    background-image: url("https://res.cloudinary.com/alapanbagchi/image/upload/v1660295486/Tisoe/assets/Slider.webp");
}

.teachers .slider_wrapper {
    background-color: #F3F6FB;
}

.slides {
    height: auto;
    padding: 40px;
    max-height: 550px;
    background-color: #fff;
    width: fit-content;
    max-width: 510px;
    min-width: 510px;
    cursor: pointer;
}

@media screen and (max-width:542px) {
    .slides .course_image img {
        width: unset;
    }

    .slides {
        padding: 20px;
        min-width: unset;
        max-width: none;
        width: 100%;
    }

    .course_image {
        height: 220px !important;
    }
}

.teacher_slides {
    height: 560px !important;
    overflow: hidden !important;
    width: 400px !important;
    position: relative !important;
    padding: unset;
    background-color: unset;
    max-width: 400px;
    min-width: 400px;
}

.course_image {
    position: relative;
    overflow: hidden;
    height: 256px;
    margin-bottom: 32px;
    max-width: 470px;
}

.course_image img {
    width: 100%;
    transform: scale(1);
    transition: all 2s ease-in-out;
}

.courses .slider_wrapper .content h5,
.teachers .slider_wrapper .content h5 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #161c27;
}

.courses .slider_wrapper .content p {
    margin-bottom: 0px;
    color: #232a37;
    font-size: 14px;
    line-height: 24px;
}

.content .author {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.content .author .avatar {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
    border-radius: 100%;
    background-color: #eefafe;
}

.content .author .avatar img {
    width: 100%;
}

.content .author .data .teacher_name {
    color: #161c27;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.content .author .avatar .verified {
    position: absolute;
    width: 24px;
    right: -10%;
    top: -10%;
}

.slides:hover .course_image img {
    transform: scale(1.2);
    transition: all 4s ease-in-out;
}

.tags {
    position: absolute;
    left: auto;
    top: auto;
    right: 16px;
    bottom: 24px;
    display: flex;
}

.tag {
    position: relative;
    overflow: hidden;
    margin-left: 8px;
    padding: 12px 24px;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 100%, 0.15);
    background-color: rgba(22, 28, 39, 0.5);
    color: #fff;
    font-weight: 400;
}

.controls {
    position: absolute !important;
    width: 250px !important;
    bottom: -60px;
    height: fit-content !important;
    display: flex;
    gap: 2rem;
}

.teachers .controls .left,
.teachers .controls .right {
    background-color: #ffffff;
}

.controls .arrow svg{
    pointer-events: none;
}

.teacher_slides:hover .teacher_slide_image img {
    transform: scale(1.2);
    transition: all 4s ease-in-out;
}

.controls .left,
.controls .right {
    left: 0%;
    top: auto;
    right: auto;
    bottom: -15%;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background-color: #fff;
    color: #232a37;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.arrow:hover {
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}

.teacher_image {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50px;
}

.teacher_image img {
    width: 100%;
    object-fit: cover;
}

.teacher_slides {
    height: 560px;
    overflow: hidden;
    width: 400px;
    position: relative;

}

.teacher_slide_image {
    width: 100%;
    height: 100%;
    background-color: #D0ECF5;
}

.teacher_slide_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 4s ease-in-out;
}

.teacher_data {
    position: absolute;
    left: 40px;
    top: auto;
    right: 40px;
    bottom: 40px;
    overflow: hidden;
    min-height: 160px;
    padding: 32px;
    border-style: solid;
    border-width: 1px 1.5px 1.5px 1px;
    border-color: hsla(0, 0%, 100%, 0.15) hsla(0, 0%, 100%, 0.25) hsla(0, 0%, 100%, 0.25) hsla(0, 0%, 100%, 0.15);
    background-color: hsla(0, 0%, 100%, 0.23);
}

.teacher_name {
    margin-bottom: 12px;
    color: #fff;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.teacher_designation {
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.course_count {
    color: #fff;
}

.features .block p {
    margin-top: 10px;
}

.teacher_data .blur {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(243, 246, 251, 0.69);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-filter: blur(30px);
    filter: blur(30px);
}

.teacher_data_content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 560px) {
    .teachers .title {
        flex-direction: column;
        align-items: unset !important;
    }

    .teachers .title .description {
        width: 100%;
        max-width: unset !important;
    }

    .teachers .description {
        margin: 30px 0;
    }

    .cta {
        width: 100%;
    }

    .cta button {
        margin-left: 0;
    }

    .teachers .slider_wrapper .content h5,
    .teachers .slider_wrapper .content h5 {
        font-size: 20px
    }

    .teacher_slides {
        min-width: 100% !important;
        max-width: none !important;
    }

    .teacher_name {
        font-size: 25px;
        line-height: 32px;
    }

    .teacher_designation {
        font-size: 14px;
        line-height: 24px;
        opacity: 0.8;
    }

    .course_count {
        font-size: 14px;
        opacity: 0.8;
    }

}

@media screen and (max-width: 1000px) {
    .features {
        align-items: center;
        justify-content: center;
        display: flex !important;
        flex-direction: column;
    }

    .features .block {
        width: 90%;
    }

    .features .block img {
        width: 50px !important;
    }
}

@media screen and (max-width: 991px) {

    .courses .title,
    .teachers .title {
        flex-direction: column;
        align-items: unset !important;
    }

    .courses .title .description,
    .teachers .title .description {
        width: 100%;
        max-width: unset !important;
    }

    .courses .description,
    .teachers .description {
        margin: 30px 0;
    }

    .cta {
        width: 100%;
    }

    .cta button {
        margin-left: 0;
    }

    .courses .slider_wrapper .content h5,
    .teachers .slider_wrapper .content h5 {
        font-size: 20px
    }

    .teacher_image {
        width: 45px;
        height: 45px;
    }

    .verified {
        width: 22px !important;
    }
}

/**What we offer**/
.title p {
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
    margin-top: 24px;
}

.about_us .block {
    padding: 40px;
    background-color: #fff;
    box-shadow: 59px 59px 114px 0 rgb(22 28 39 / 4%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
}

.about_us .container .features {
    display: grid;
    margin-top: 60px;
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.about_us .block img {
    width: 72px;
    margin-bottom: 24px;
}

.about_us .block h5 {
    margin-top: 0px;
    margin-bottom: 12px;
    color: #161c27;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.about_us .block p {
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.additional_features {
    padding: 100px 3%;
}

.additional_features .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.additional_features .container .block {
    margin-bottom: 160px;
    grid-column-gap: 62px;
    grid-row-gap: 62px;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: auto;
    display: grid;
}

.additional_features .container .block.card1 .images {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 600px;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/alapanbagchi/image/upload/v1660295579/Tisoe/assets/Card_1.webp");
}

.additional_features .container .block.card2 .images {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/alapanbagchi/image/upload/v1660295740/Tisoe/assets/Card_2.webp");
    background-position: 50% 100%;
    background-size: auto 95%;
    background-repeat: no-repeat;
}

.additional_features .container .block .images img {
    width: 100%;
    height: 100%;
}

.additional_features .container .block.card1 .images img:nth-child(1) {
    position: relative;
    left: 10%;
    top: -40px;
    z-index: 2;
    max-width: 370px;
    box-shadow: 59px 59px 114px 0 rgb(22 28 39 / 4%)
}

.additional_features .container .block.card1 .images img:nth-child(2) {
    position: relative;
    left: -12%;
    bottom: 0px;
    z-index: 2;
    max-width: 350px;
    box-shadow: 59px 59px 114px 0 rgb(22 28 39 / 4%);

}

.additional_features .container .block.card2 .images img:nth-child(2) {
    position: relative;
    left: 0%;
    bottom: 40px;
    z-index: 2;
    max-width: 380px;
}

.additional_features .container .block.card2 .images img:nth-child(1) {
    position: relative;
    left: 12%;
    bottom: 58px;
    z-index: 2;
    max-width: 420px;
    box-shadow: 59px 59px 114px 0 rgb(22 28 39 / 4%);
}

.additional_features .container .block .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.additional_features .container .block .text h3 {
    position: relative;
    z-index: 5;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #161c27;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}

.additional_features .container .block .text p {
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.additional_features .container .block .text button {
    margin-top: 36px;
    position: relative;
    display: flex;
    width: auto;
    min-width: 140px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid #f3f6fb;
    background-color: #f3f6fb;
    transition: border-color 200ms ease, color 200ms ease, background-color 300ms ease;
    color: #161c27;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.additional_features .container .block .text button:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    background-color: #161c27;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .additional_features .container .block {
        grid-template-columns: 1fr !important;
    }

    .additional_features .container .block.card2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .additional_features .container .block .text {
        max-width: 560px;
    }

    .additional_features .container .block.card1 .images {
        margin-right: auto;
        margin-left: auto;
    }
}

p {
    margin-bottom: 0px;
    color: #232a37;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width: 479px) {
    .additional_features .container .block.card1 .images img:nth-child(1) {
        left: 0;
        width: 300px;
    }

    .additional_features .container .block.card1 .images img:nth-child(2) {
        left: -25px;
        max-width: 250px;
    }

    .additional_features .container .block.card2 .images img:nth-child(1) {
        left: 2%;
        top: -60px;
        max-width: 85%;
    }

    .additional_features .container .block.card2 .images img:nth-child(2) {
        left: -25px;
        max-width: 80%;
    }
}

@media screen and (max-width: 767px) {

    .additional_features .container .block.card2 .images img:nth-child(1) {
        left: 0%;
    }
}

@media screen and (max-width: 479px) {
    .additional_features .container .block.card2 .images {
        background-position: 50% 50%;
        background-size: contain;
    }
}

@media screen and (max-width: 767px) {
    .additional_features .container .block.card2 .images {
        height: 100%;
    }
}

@media screen and (max-width: 991px) {
    .additional_features .container .block.card2 .images {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 767px) {}

.testimonials .container {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}

.testimonials .container h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Eudoxussans Heading', sans-serif;
    color: #161c27;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.testimonials .testimonial {
    padding-top: 70px;
    padding-bottom: 70px;
}

.review {
    margin-bottom: 40px;
    color: #161c27;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.reviewer {
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
}

.avatars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.feature_section {
    overflow: hidden;
    padding: 172px 3% 100px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}

.content_wrapper {
    position: relative;
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .content_wrapper {
        padding-top: 60px;
    }
}



.title_wrap_centre {
    display: flex;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.grid_course_feature {
    max-width: 800px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.w_layout_grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}
@media screen and (max-width: 479px) {
    .grid_course_feature {
        grid-template-columns: 1fr;
    }
}
.h3_title {
    margin-bottom: 24px;
}

h3 {
    position: relative;
    z-index: 5;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Eudoxussans Heading', sans-serif;
    color: #161c27;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.paragraph_large {
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.course_feature_card {
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 59px 59px 114px 0 rgb(22 28 39 / 4%);
    text-align: center;
}

.feature_icon {
    width: 72px;
    margin-bottom: 24px;
}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Eudoxussans Heading', sans-serif;
    color: #161c27;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.h5_title {
    margin-top: 0px;
    margin-bottom: 12px;
    color: #161c27;
}

.feature_icon {
    width: 72px;
    margin-bottom: 24px;
}

.background_block_tall {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    max-width: 702px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f3f6fb;
    background-image: url('https://res.cloudinary.com/alapanbagchi/image/upload/v1660295781/Tisoe/assets/Course_Feature_Background.webp');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}