* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Eudoxus Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: unset;
}
nav {
    background-color: transparent;
    padding: 10px 3%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 999;

}

ul {
    width: 100%;
    min-height: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    gap: 0.5rem;
    margin-right: 72px;
}

.links {
    display: flex;
    width: 100%;
    align-items: center;
}

.link {
    color: #000;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 600;
    opacity: 0.9;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;

}

nav button {
    min-height: 52px;
    border: none;
    padding: 0 32px;
    background-color: #EEFAFE;
    color: #161c27;
    cursor: pointer;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
}

nav button:hover {
    background-color: #161c27;
    color: #EEFAFE;
    transition: all 0.3s ease-in-out;
}

.menu_btn {
    display: none;
}

@media screen and (max-width: 991px) {
    .links {
        display: none;
    }

    ul {
        width: 100%;
        min-height: 100%;
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
    }

    .links.active {
        position: absolute;
        display: flex !important;
        flex-direction: column;
        top: 90px;
        width: 100%;
        right: 0;
        z-index: 999999;
        background: white;
        height: fit-content;
    }

    .link {
        padding: 20px 20px;
    }

    .links button {
        margin-left: unset;
        width: 100%;
    }

    .menu_btn {
        display: flex;
        padding: 20px;
        background-color: #EEFAFE;
        margin-left: auto;
        cursor: pointer;
    }
}

body {
    overflow-x: hidden;
}


/**    Get Started      **/
.get_started {
    display: flex;
    overflow: hidden;
    min-height: 480px;
    padding: 96px 3%;
    justify-content: center;
    align-items: center;
    background-color: #161c27;
    background-image: url('https://assets.website-files.com/604d8c253d18c714a435bd9c/604d8c253d18c7606235bdf9_CTA%20Pattern%20Large.png');
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: repeat-x;
    flex-direction: column;
}

.get_started .title_wrap {
    display: flex;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.get_started .title_wrap h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -0.03em;
    color: #fff;
    font-family: 'Eudoxussans Heading', sans-serif;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.get_started form {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.get_started form input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    min-height: 56px;
    min-width: 290px;
    margin-bottom: 0px;
    border: 1px solid #485162;
    background-color: #232a37;
    color: #f3f6fb;
}

.get_started form button {
    display: flex;
    min-height: 56px;
    margin-left: 20px;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: center;
    align-items: center;
    background-color: #f3f6fb;
    border: none;
    white-space: nowrap;
    color: #161c27;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .get_started .title_wrap h2 {
        font-size: 42px;

    }

    .get_started form {
        flex-direction: column;
    }

    .get_started input {
        width: 100%;
    }

    .get_started button {
        width: 100%;
        margin-left: unset !important;
    }
}