* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Eudoxus Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}



/**   Hero Section    **/

body {
    overflow-x: hidden;
}

.header {
    position: relative;
    display: flex;
    min-height: 840px;
    padding: 140px 3%;
    justify-content: center;
    align-items: center;
    background-color: #ebddca;
    background-image: url('https://res.cloudinary.com/alapanbagchi/image/upload/v1660294748/Tisoe/assets/604d8c253d18c756da35bdf0_Header_Course_Update_fl39bv.webp');
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #161c27;
    overflow: hidden;
}

.header .container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}

.header .container .hero_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero_title_wrap {
    position: relative;
    margin-bottom: 32px;
}

.display_heading {
    position: relative;
    z-index: 5;
    font-family: 'Eudoxussans Heading', sans-serif;
    color: #161c27;
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.hero_title_wrap img {
    position: absolute;
    left: 46%;
    top: 46%;
    right: auto;
    bottom: -13%;
    max-width: 450px;
}

.paragraph_hero {
    max-width: 440px;
    color: #161c27;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.header .checklist {
    margin-top: 52px;
    margin-bottom: 52px;
    grid-template-columns: 1fr;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.header .checklist .feature_check {
    display: flex;
    align-items: center;
}

.check_circle {
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
}

.cta {
    position: relative;
    display: flex;
    width: auto;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid #161c27;
    background-color: #161c27;
    transition: color 200ms ease, border 200ms ease, background-color 300ms ease;
    color: #ebeefa;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.cta:hover {
    background-color: #ebeefa;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.header .hero_block_right {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    width: 45%;
    justify-content: flex-start;
    align-items: flex-end;
}

@media only screen and (max-width: 991px) {
    .header .hero_block_right {
        display: none;
    }

    .header {
        background-position: 50% 100%;
    }
}

@media screen and (max-width: 767px) {
    .display_heading {
        font-size: 60px;
        line-height: 70px;
    }
}

@media screen and (max-width: 484px) {
    .hero_title_wrap img {
        left:-7%;
        top:62%;
    }
}
.header .hero_block_right .hero_image_wrapper {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.header .hero_block_right .hero_image_wrapper img {
    position: relative;
    z-index: 5;
    max-height: 90%;
    display: inline-block;
    max-width: 100%;
}


/**    Course Section    **/

.courses {
    overflow: hidden;
    padding: 100px 3%;
}

.courses .container {
    position: relative;
    width: 100%;
    max-width: 1060px;
    margin-right: auto;
    margin-left: auto;
}

.courses .content_wrapper {
    position: relative;
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
    flex-direction: column;
    justify-content: center;
}

.courses .container .title_wrapper {
    display: flex;
    margin-bottom: 64px;
    justify-content: space-between;
    align-items: center;
}

.courses .container .content_wrapper .header_title_block {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
}

.header_accent_wrap {
    position: relative;
    margin-right: 72px;
}

.courses .title {
    font-size: 40px;
    line-height: 48px;
    position: relative;
    z-index: 5;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Eudoxussans Heading', sans-serif;
    color: #161c27;
    font-weight: 700;
    letter-spacing: -0.03em;
}



.courses .paragraph {
    max-width: 440px;
    font-size: 16px;
    line-height: 32px;
}

.background_block_course {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f3f6fb;
    background-image: url('https://res.cloudinary.com/alapanbagchi/image/upload/v1660294655/Tisoe/assets/course_2.webp');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.blur{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(243, 246, 251, 0.69);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-filter: blur(30px);
    filter: blur(30px);
}
@media screen and (max-width: 767px) {
    .courses .content_wrapper {
        padding-top: 60px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .title_wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 990px) {
    .title_wrapper {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 2rem;
    }

    .list ul {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 767px) {
    .header_title_block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 2rem;
    }
}



@media screen and (max-width: 991px) {
    .list ul {
        justify-items: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr !important;
    }
}

/*  Cards   */

.list ul {
    display: grid;
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.item{
    position: relative;
}
.item .card {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 560px;
    align-items: flex-end;
    max-width: 100%;
    background-color: wheat;
}

.card img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
}

.instructor_block{
    position: absolute;
    left: 40px;
    top: auto;
    right: 40px;
    bottom: 40px;
    overflow: hidden;
    min-height: 160px;
    padding: 32px;
    border-style: solid;
    border-width: 1px 1.5px 1.5px 1px;
    border-color: hsla(0, 0%, 100%, 0.15) hsla(0, 0%, 100%, 0.25) hsla(0, 0%, 100%, 0.25) hsla(0, 0%, 100%, 0.15);
    background-color: hsla(0, 0%, 100%, 0.23);
}
.teacher{
    position: relative;
    z-index: 5;
}
.teacher .title{
    margin-bottom: 12px;
    color: #fff;
    font-size: 36px;
    position: relative;
    z-index: 5;
    margin-top: 0px;
    font-family: 'Eudoxussans Heading', sans-serif;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.teacher .designation{
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.teacher .total_courses{
    color:#fff
}


.heading {
    color: #161c27;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.designation {
    color: #161c27;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.03em;
}



