*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
}

:root{
	--dark-yellow:#fb7d0f;
	--light-yellow:rgb(255, 241, 221);
	--dark-green:#091010;
	--light-green:#DFDFF7;
	--black: #31312F;
	--padding: 0 5rem;
	--padding-mobile: 0 1rem;
}
